{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная - Ресторан</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Добро пожаловать в наш ресторан!</h1>

    <div class="dishes">
        {% for dish in dishes %}
            <div class="dish">
                <h2>{{ dish.name }}</h2>
                <p>{{ dish.description }}</p>
                <p>Цена: {{ dish.price }} KGS</p>
                <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
            </div>
        {% endfor %}
    </div>
</body>
</html>

